In [30]:
import pandas as pd
#reading a wine dataset
df_wine = pd.read_csv('datasets_16721_22034_wine_dataset.csv')

In [31]:
df_wine.head(10)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5,red
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5,red
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7,red
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7,red
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5,red

In [35]:
#replacing the wine styles to numbers
#now we can use this data to machine learning
df_wine['style'] = df_wine['style'].replace('red', 0)
df_wine['style'] = df_wine['style'].replace('white', 1)

In [36]:
df_wine['style'].head()

0    0
1    0
2    0
3    0
4    0
Name: style, dtype: int64

In [37]:
#dividing the test data in two parts:
#information and answers
y = df_wine['style']
x = df_wine.drop('style', axis=1)

In [10]:
from sklearn.model_selection import train_test_split
#defining 30% of the wine dataset as a test content
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size=0.3)

In [38]:
from sklearn.ensemble import ExtraTreesClassifier as etc
model = etc()
#training us machine
model.fit(x_train, y_train)
#showing it results
result = model.score(x_test, y_test) * 100
print(f'Accuracy: {result:.2f}%')

Accuracy: 99.69%

In [40]:
x_test[100:110]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
6170,5.7,0.220,0.28,1.30,0.027,26.0,101.0,0.98948,3.35,0.38,12.5,7
2204,6.3,0.260,0.49,1.50,0.052,34.0,134.0,0.99240,2.99,0.61,9.8,6
1411,6.4,0.470,0.40,2.40,0.071,8.0,19.0,0.99630,3.56,0.73,10.6,6
2348,7.3,0.300,0.42,7.35,0.025,51.0,175.0,0.99280,3.04,0.32,11.4,6
2783,7.9,0.460,0.32,4.10,0.033,40.0,138.0,0.99120,3.18,0.44,12.8,7
1510,6.4,0.360,0.21,2.20,0.047,26.0,48.0,0.99661,3.47,0.77,9.7,6
5347,6.2,0.240,0.25,12.50,0.055,47.0,134.0,0.99758,3.30,0.51,9.0,5
918,8.4,0.360,0.32,2.20,0.081,32.0,79.0,0.99640,3.30,0.72,11.0,6
700,10.6,1.020,0.43,2.90,0.076,26.0,88.0,0.99840,3.08,0.57,10.1,6
600,8.2,0.915,0.27,2.10,0.088,7.0,23.0,0.99620,3.26,0.47,10.0,4

In [41]:
y_test[100:110]

6170    1
2204    1
1411    0
2348    1
2783    1
1510    0
5347    1
918     0
700     0
600     0
Name: style, dtype: int64